.pfp {
  object-fit: cover;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  box-shadow: 100px 3px 1px #C9D2C6;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.intro {
  display: flex;
  flex-direction: row;
  margin: auto;
  border: 5px solid #C9D2C6;
  padding: 5px 20px;
}

.text{
  padding-top: 70px;
  padding-right: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.me {
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #C9D2C6;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}


